<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pennyjoy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PennyJoy">
        <activity android:name=".SplashScreenActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddGoalActivity"></activity>
        <activity
            android:name=".ResultOfQuizActivity"
            android:noHistory="true" />
        <activity android:name=".QuestionsActivity"></activity>
        <activity android:name=".HistoryActivity" />
        <activity
            android:name=".SignInActivity"
            android:noHistory="true"></activity>
        <activity android:name=".SetUserActivity" />
        <activity android:name=".SetPasswdActivity" />
        <activity android:name=".MoneyPigActivity"></activity>
        <activity android:name=".AddGoodAndOtherActivity"></activity>
        <activity android:name=".ChartsActivity"></activity>
        <activity android:name=".SignUpActivityNoAcc1"></activity>
        <activity android:name=".SignUpActivityNoAcc2"></activity>
        <activity
            android:name=".SignUpActivityNoAcc3"
            android:noHistory="true" />
        <activity android:name=".MainActivity"></activity>

        <receiver android:name="Notifycations.ReminderForTimer" />
    </application>

</manifest>